<a href="https://colab.research.google.com/github/Harshithajavagal/Assignment1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/Used_Car_Data.csv')
print(df)

    Year_bought
0          1995
1          1990
2          2022
3          2021
4          2005
5          2008
6          2009
7          2010
8          2012
9          2015
10         2016
11         2022

In [4]:
df=df.assign(age_of_vechile=None)
df=df.assign(Price_after_depreciation=None)
df=df.assign(Conclusion=None)
print(df)
cur_year=2023
showroom_price=1000000

    Year_bought age_of_vechile Price_after_depreciation Conclusion
0          1995           None                     None       None
1          1990           None                     None       None
2          2022           None                     None       None
3          2021           None                     None       None
4          2005           None                     None       None
5          2008           None                     None       None
6          2009           None                     None       None
7          2010           None                     None       None
8          2012           None                     None       None
9          2015           None                     None       None
10         2016           None                     None       None
11         2022           None                     None       None

#Current age

In [5]:
for index,value in df['Year_bought'].iteritems():
  age=cur_year-value
  df.at[index, "age_of_vechile"] = age
print(df)

    Year_bought age_of_vechile Price_after_depreciation Conclusion
0          1995             28                     None       None
1          1990             33                     None       None
2          2022              1                     None       None
3          2021              2                     None       None
4          2005             18                     None       None
5          2008             15                     None       None
6          2009             14                     None       None
7          2010             13                     None       None
8          2012             11                     None       None
9          2015              8                     None       None
10         2016              7                     None       None
11         2022              1                     None       None

#Price after decipation

In [6]:
for index,value in df['age_of_vechile'].iteritems():
  p_a_d=showroom_price/value
  df.at[index,"Price_after_depreciation"]=p_a_d
print(df)

    Year_bought age_of_vechile Price_after_depreciation Conclusion
0          1995             28             35714.285714       None
1          1990             33             30303.030303       None
2          2022              1                1000000.0       None
3          2021              2                 500000.0       None
4          2005             18             55555.555556       None
5          2008             15             66666.666667       None
6          2009             14             71428.571429       None
7          2010             13             76923.076923       None
8          2012             11             90909.090909       None
9          2015              8                 125000.0       None
10         2016              7            142857.142857       None
11         2022              1                1000000.0       None

#Conclusion

In [7]:
for index,value in df['Price_after_depreciation'].iteritems():
  if value<500000:
     df.at[index,"Conclusion"]="scrap"
  else:
    df.at[index,"Conclusion"]="auction"
print(df)

    Year_bought age_of_vechile Price_after_depreciation Conclusion
0          1995             28             35714.285714      scrap
1          1990             33             30303.030303      scrap
2          2022              1                1000000.0    auction
3          2021              2                 500000.0    auction
4          2005             18             55555.555556      scrap
5          2008             15             66666.666667      scrap
6          2009             14             71428.571429      scrap
7          2010             13             76923.076923      scrap
8          2012             11             90909.090909      scrap
9          2015              8                 125000.0      scrap
10         2016              7            142857.142857      scrap
11         2022              1                1000000.0    auction

In [ ]:
df.to_csv('final_result.csv')